html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#1d1c20, rgb(30, 8, 54));
}

.piano {
  display: flex;
  position: relative;
  margin-left: 4px;
}

.white-key {
  width: 80px;
  height: 240px;
  background-color: #FFF;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.white-key.active {
  background-color: #C0C0C0;
}

.black-key {
  position: absolute;
  width: 48px;
  height: 160px;
  background-image: linear-gradient(#000000, #303030);
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
  color: #FFFFFF;
}

.black-key.active {
  background-image: linear-gradient(#000000, #4d4d4d);
}

.Db4-key {
  left: 48px;
}

.Eb4-key {
  left: 124px;
}

.Gb4-key {
  left: 276px;
}

.Ab4-key {
  left: 354px;
}

.Bb4-key {
  left: 430px;
}

.Db5-key {
  left: 580px;
}

.Eb5-key {
  left: 658px;
}